.profile {
    width: 350px;
    height: 100%;
    margin: 20px auto;
    padding-top: 30px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 50px;
  }
  
.description {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
.avatar {
    width: 150px;
    margin: auto;
    margin-bottom: 9px;
  }
  
.name {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.06em;
    margin-bottom: 8px;
  }
.tag {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.16;
    color: #545454;
    margin-bottom: 15px;
  }
.location {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.12;
    color: #545454;
    margin-bottom: 40px;
  }
.statsList {
    width: 100%;
    display: flex;
    padding-left: 0;
    margin-top: 0;
  }
.statsItem {
    width: 120px;
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1px solid #cbcbcc;
    background-color: #e9ecf5;
  }
.label {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.16;
    color: #545454;
    margin-bottom: 5px;
  }
.quantity {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    color: #000000;
  }