.transactionHistory {
    width: 1000px;
    height: 400px;
    margin: 50px auto 20px auto;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    table-layout: fixed;
    border-collapse: collapse;
    
   }
   
   .title {
    height: 50px;
    text-align: center;
    background-color: #13b1e5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.03;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
   }
   
   td,
   th {
    border: 1px solid #b2bec7c8;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border: 1px solid #b2bec7c8;
    
   }
   
   tr:hover td {
    color: #686f75;
    background: rgba(103, 101, 101, 0.356);
    transition: all 0.5s;
    
   }
   
   .table {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    text-align: center;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.03;
    letter-spacing: 0.03em;
    color: #b2bec7c8;
    cursor: pointer;
   }
   
   .table:nth-child(2n) {
    background: #e0eff5;
   }
   
   .type {
    text-transform: uppercase;
    justify-content: center;
   }