/* .statistics {
    width: 400px;
    height: 200px;
    margin: 0 auto 50px auto;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    background-color: #ffffff;
}

.title {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    text-transform: uppercase;
    color: #454545;
}

.statList {
    display: flex;
    width: 100%;
    padding: 0;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 1px solid #cbcbcc;
    background-color: #4d898d;
}

.label {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: #ffffff;
}

.percentage {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: #ffffff;
} */